.job-detail-row {
  padding: 10px 0 !important;
}

.job-detail-input-container {
  display: flex !important;
  align-items: center !important;
}

form {
  margin-top: 30px;
  button {
    padding: 10px;
    background-color: #273041;
    color: #fff;
    border: none;
    outline: none;
  }
}
