
.reportsTable table {
    background-color: rgb(206, 206, 206);
    background-repeat: no-repeat;
    background-size: cover;
}

.reportsTable table tr th,
.reportsTable table tr td {
    border-color: black;
}

.ReportsTitle {
    text-align: center;
}
/* .tBody {
    display:block;
    height:400px;
    overflow:auto;
}
.tHead, .tBody .tR {
    display:table;
    width:100%;
    table-layout:fixed;
}
.tHead {
    width: calc( 100% - 1em )
}
.Table{
    width: max-content;
} */
@media only screen and (min-width: 320px) and (max-width: 480px) {
    #font {
      font-size: 14px;
    }
  }