.loginFormContainer{

}
.ElementSize {
    /* width: 100%;
    height: 50px;
    font-size: x-large; */
}

.inputPassword {
    /* border: 1px solid black; */
    /* background-color: white; */
    padding: 0px;
}

.passwordError {
    border: 1px solid red; 
}

.errorShown {
    display: flex;
    color: red;
}

.inputPassword input {

    width: 180px;

    margin-left: 30px;
    margin-bottom: 5px;
    margin-right: 10px;
    
}

input[type=checkbox] {
    vertical-align: middle;
    position: relative;
    bottom: 1px;
    margin-right: 10px;
}

.styledCheckbox {
    width: 20px;
    height: 20px;
}

label {
    margin-top: 10px;
    display: block;
}

.rememberMeSection {
    display: flex;
    justify-content: space-between;
}


input:focus {
    outline: none;
}

input {
    border: none;
}


.button {
    border: none;
    background-color: white;
    -webkit-box-shadow: 0px -1px 18px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px -1px 18px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px -1px 18px 0px rgba(0, 0, 0, 0.75);
    cursor: pointer;
    border-radius: 8px;
    font-size: 18px;
    width: 150px;

}

.button:focus {
    outline: none;
    background-color: rgb(248, 248, 248);
}

.Remember-space{
    margin-right: 10px;
}
